.side-nav {
  box-shadow: 10px 0px 20px grey;
  width: 100%;

  &__title {
    margin-top: 10vw;
    text-decoration: none;
  }
}

.btn,
.btn--outline-primary {
  &:focus {
    outline:0;
    box-shadow: none;
  }
}

.active {
  color: white;
  background-color: green;
}

.success {
  color: green;
}

.disable {
  color: gray
}

@media (min-width: 768px) {
  .side-nav {
    height: 100vh;
  }

}
